.star-rating {
  float: left;
  border: none;
}
.star-rating:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
}
.star-rating:not(:checked) > label {
  float: right;
  width: 1em;
  padding: 0 0.1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 200%;
  line-height: 1.2;
  color: #ddd;
}
.star-rating:not(:checked) > label:before {
  content: '★ ';
}
.star-rating > input:checked ~ label {
  color: #f70;
}
.star-rating:not(:checked) > label:hover,
.star-rating:not(:checked) > label:hover ~ label {
  color: gold;
}
.star-rating > input:checked + label:hover,
.star-rating > input:checked + label:hover ~ label,
.star-rating > input:checked ~ label:hover,
.star-rating > input:checked ~ label:hover ~ label,
.star-rating > label:hover ~ input:checked ~ label {
  color: #ea0;
}
.star-rating > label:active {
  position: relative;
}

.trainer-comments-section-container {
  min-width: 250px;
  background-color: #242424;
  color: white;
  border: 10px solid #242424;
  border-radius: 20px;
}

.trainer-details-img {
  width: 80%;
  height: auto;
  margin: auto;
  display: block;
}

.trainer-details-card {
  background-color: #242424;
  color: white;
  margin: auto;
}

.trainer-details-back-button {
  text-align: center;
  display: block;
}
