* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.default-page-front {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  font-size: 60px;
}
