.profile-page-gradient-custom {
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* fallback for old browsers */
  background: #f6d365;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right bottom,
    rgba(246, 211, 101, 1),
    rgba(253, 160, 133, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right bottom,
    rgba(246, 211, 101, 1),
    rgba(253, 160, 133, 1)
  );
}

.style1 {
  border-radius: 0.5rem;
}

.style2 {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.style3 {
  width: 70%;
}

.profile-page-card-width {
  width: 80%;
  min-height: 70vh;
}

.profile-edit-button:hover {
  cursor: pointer;
}
